{% extends 'base.html.twig' %}

{% block title %}Login Library{% endblock %}


{% block body %}
    <link rel="stylesheet" type="text/css" href='/css/main.css'/>

    <form action='/login' method="POST">
      <div class="form-group">
        <p>Library Login</p>

        <input type="text" name="login" id="login" placeholder="User Name" />

        <input
          type="password"
          name="passwd"
          id="passwd"
          placeholder="Password"
        />
        <button>LOG IN</button>
      </div>
    </form>
{% endblock %}
